<!-- HTML Code for Drive Details -->
<link rel="stylesheet" href="css/drive_details.css">
<script type="module" src="js/drive_details.js"></script>

<header>
  <div class="logo">
    <span class="icon">
      <i class="fa-duotone fa-info"></i>
    </span>
  </div>

  <div class="info">
    <span class="title">Google Drive Details</span>
    <span class="email">See how much space is taken of Google  Drive</span>
  </div>

  <div class="button">
    <span class="icon">
      <i class="fa-duotone fa-xmark"></i>
    </span>
  </div>
</header>

<main>
  
</main>